[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-cloud-bigquery = "*"
grpcio = "*"
google-auth-oauthlib = "*"
confuse = "*"
slack-sdk = "*"
requests = "*"
functions-framework= "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
coverage = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.13"
